/*
Change green to blue des

*/

a:hover,
.products-grid .product-name a:hover,
.sf-menu-phone2 .sub-cat-menu .sub-cat-menu-links ul li a:hover,
.header .links li a:hover{
    color: #f59c00;
    transition: none;
    text-decoration: underline;
}
a,
.products-grid .product-name a,
.sf-menu-phone2 .sub-cat-menu .sub-cat-menu-links ul li a,
.header .links li a{
    transition: none;
}
.products-grid .product-name a:hover,
.sf-menu-phone2 .sub-cat-menu .sub-cat-menu-links ul li a:hover{
    transition: none;
}
.product-view .product-shop .price-box .price, 
.products-grid .price-box .price,
.price-box .price{
    color: #f59c00;
}


.block .block-title{
    
    border: 1px solid #0072b5; 
    background: #0082ce; /* Old browsers */
    background: -moz-linear-gradient(top, #0082ce  0%, #0072b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0082ce), color-stop(100%, #0072b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0082ce 0%, #0072b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0082ce 0%, #0072b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0082ce 0%, #0072b5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0082ce 0%, #0072b5 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082ce', endColorstr='#0072b5', GradientType=0 );  IE6-9 */  

}


.sf-menu-phone2 li{
    margin-bottom: 5px;
}

.sf-menu-phone2 > li > a{
    border-radius: 0;
}

.sf-menu-phone2 > li:hover > a{
    border-radius: 0;
    /*border-radius: 0px 2px 2px 0px;*/
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #e5e5e5 100%);  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #e5e5e5));  
    background: -webkit-linear-gradient(top, #ececec 0%, #e5e5e5 100%);  
    background: -o-linear-gradient(top, #ececec 0%, #e5e5e5 100%); 
    background: -ms-linear-gradient(top, #ececec 0%, #e5e5e5 100%);  
    background: linear-gradient(to bottom, #ececec 0%, #e5e5e5 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082ce', endColorstr='#0072b5', GradientType=0 );  
    color: #0073B6;
    border: solid 1px #cecece;
    /*border-left: solid 5px #ffd500;*/
}

.sf-menu-phone2 > li > a > span.sf_arow{
    background: none;
    display: none; position: absolute;
/*    top:9px; left: 0px;
    width: 0;
    height: 0;
    border: 13px solid rgb(232, 232, 232);
    border-color: rgba(232, 232, 232, 0);
    border-left: 13px solid #ffd500;
    border-right: 0px;*/

    top:0px; left: 0px;
    width: 5px;
    height: 100%;
    background-color: #ffd500;
}

.sf-menu-phone2 > li:hover > a > span.sf_arow{
   display: block; 
}
.sf-menu-phone2 > li:hover > a > span.sf_btn_name{
/*        display: inline-block;
        position: relative;
        left: -4px;*/
}


.sf-menu-phone2 .sub-cat-menu .sub-cat-menu-links{
   border-top: 5px solid #007DC6; 
   box-shadow: 0px 3px 8px 2px rgba(204, 204, 204, 0.7);
}

/*.add-to-box .add-to-cart button.button{
    position: relative; left: -10px;
}*/

.add-to-cart > button.button > span{
    border: 2px solid #fff;
    border-radius: 0 4px 4px 0;
    border-left-width: 0;
    line-height: 40px;
    /*color: #007dc6;*/
    
    background: #ffd500; /* Old browsers */
}

.add-to-cart > button.button:hover > span{
    /*border: 2px solid #fff;*/ 
    background: #ffdf40; /* Old browsers */
}

.add-to-cart > button.button > span.btn_buy_img{
    border-left-width: 2px;
    border-right: 0;
    background-color: #007dc6;
    border-radius: 4px 0px 0px 4px;;
    padding: 5px 15px 0px 12px;
    line-height: 45px;
}

.add-to-cart > button.button > span.btn_buy_img > i.fa-shopping-cart{
    color: #FBFBFB;
    font-size: 32px;
}

.add-to-cart > button.button:hover > span.btn_buy_img > i.fa-shopping-cart{
    color: #ffdf40;
}

.add-to-box .add-to-cart{
    border:solid 1px #d8d8d8;
    background: #f5f4f4; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f4f4 0%, #efeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f4f4), color-stop(100%, #efeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f4f4 0%, #efeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f4f4 0%, #efeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f4f4 0%, #efeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f4f4 0%, #efeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f4f4', endColorstr='#efeeee', GradientType=0 ); /* IE6-9 */
    
    padding: 10px;
    border-radius: 2px;
}
.add-to-cart .qty{
    font-size: 16px;
    border:solid 1px #d8d8d8;
}


.breadcrumb_fixed_active{
    border-top: 3px solid #007DC6;
    height: auto;
}


.products-grid .btn-cart{
    background: url(/img/btn_cart_orange.png) no-repeat 0 0;
    position: relative;
    /*box-shadow: 0 0 0px 2px #ffd500;*/
    border-radius: 3px;
}
.products-grid .btn-cart:hover{
    background: url(/img/btn_cart_orange.png) no-repeat 0 -42px;
    /*box-shadow: 0 0 0px 2px #007DC6;*/
}
.products-grid .btn-cart span{
    background: url(/img/btn_cart_orange.png) no-repeat 100% 0;
}

.products-grid .btn-cart:hover span{
    background: url(/img/btn_cart_orange.png) no-repeat 100% -42px;
    color: #007DC6;
}
.products-grid .btn-cart i.fa-shopping-cart{
    position: absolute;
    top: 7px; left: 7px;
    font-size: 30px;
    
    /*color:#007DC6;*/
    color: #f7f0ca;
}
.products-grid .btn-cart:hover i.fa-shopping-cart{
    color:#fff;
}


.menu_basket_info{
        background: url(/img/bg_cart_orange.png) no-repeat;
}
.menu_basket_info:hover{
    box-shadow: 0 0 0px 3px #ffd500;
}
.menu_basket_info #menu_basket_price{
    color: #ffd500;
}


button.button > span, .category-text-block .show_full_text, .show-goods-descript-btn{
/*    border: 1px solid #2c9028; 
    background: #01a708;  Old browsers 
    background: -moz-linear-gradient(top, #01a708 0%, #2c9028 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #01a708), color-stop(100%, #2c9028));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top, #01a708 0%, #2c9028 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top, #01a708 0%, #2c9028 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top, #01a708 0%, #2c9028 100%);  IE10+ 
    background: linear-gradient(to bottom, #01a708 0%, #2c9028 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a708', endColorstr='#2c9028', GradientType=0 );  IE6-9 */
    
    border: solid 1px #cecece;
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #e5e5e5 100%);  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #e5e5e5));  
    background: -webkit-linear-gradient(top, #ececec 0%, #e5e5e5 100%);  
    background: -o-linear-gradient(top, #ececec 0%, #e5e5e5 100%); 
    background: -ms-linear-gradient(top, #ececec 0%, #e5e5e5 100%);  
    background: linear-gradient(to bottom, #ececec 0%, #e5e5e5 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082ce', endColorstr='#0072b5', GradientType=0 ); 
    
}
.category-text-block .show_full_text div,
#full_description_footer .show-goods-descript-btn{
    color: #007DC6;
}
.category-text-block .show_full_text:hover div,
#full_description_footer .show-goods-descript-btn:hover{
    color: #fff;
}

.product-view .product-name h1{
    border-left: 5px solid #ffd500;
    padding-left:10px;
}


/* === <HEADER> ===*/
body{
    background: #fff;
}

.cms-index-index .main-container{
    border-color: #ececec;
}

.header-container{
    max-width: 100%;
    background-image: none;
    background-color: #fbfbfb;
    border: none;
    border-top: 5px solid #007dc6;
    border-bottom: 3px solid #007dc6;
    padding: 0;
}

.top_contact_info{
    margin-top: 10px;
    height: 100px;
}

.top_contact_info .top_contact_address,
.top_contact_info .top_contact_phone,
.top_contact_info .top_contact_icon{
    line-height: 30px;
}
.top_contact_info .top_contact_icon{
    /*opacity: 0.3;*/
    color: #9bb3c1;
}
.top_contact_info .top_contact_icon i{
    color: #9bb3c1;
}
.top_contact_info .top_contact_icon i.fa-phone{
    line-height: 32px;
    color: #9bb3c1;
}


.header .quick-access{
    background: none;
    border-bottom: 1px solid #d8d8d8;
}

.header .links li {
    background-image: none;
    border-right: 1px solid #d8d8d8;
    padding: 0px 21px 0px 0;
}
.header .links li.last{
    border-right: none;
}

.header .links li a{
    color:#007AC2;
}
.header .logo{
    margin-top: 32px;
}
/* === </HEADER> ===*/